<!DOCTYPE html>
<html lang="zh-CN">
<head>

	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>小小相册</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
	
	<style type="text/css">
		h1,h4 {
			text-align: center;
		}
		
		.container {
			margin-top: 150px;
			width: 35%;
			/*font-size: 17px;*/
		}
		#false {
			display: none;
		}
	</style>

</head>
<body>

<% include header.ejs %>

    <div class="container">
    	<form class="form-horizontal">
    		<h1>密码修改</h1>
    		<div class="form-group">
    			<label for="oldpassword" class="col-sm-2 control-label">原密码：</label>
    			<div class="col-sm-10">
    				<input type="password" class="form-control" id="oldpassword" placeholder="oldpassword">
    			</div>
    		</div>
    		<div class="form-group">
    			<label for="newpassword" class="col-sm-2 control-label">新密码：</label>
    			<div class="col-sm-10">
    				<input type="password" class="form-control" id="newpassword" placeholder="newpassword">
    			</div>
    		</div>
    		<div class="form-group">
    			<div class="col-sm-offset-2 col-sm-10">
    				<button type="button" class="btn btn-success" id="changes">修改</button>
    			</div>
    		</div>
    	</form>
    	<div class="alert alert-danger" role="alert" id="false">
    	</div>
    </div>

    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
	<script type="text/javascript">
		$("input").focus(function() {
			$("#false").fadeOut();
		});
		$("#changes").click(function() {
			$.post("/changePassword", {
				"oldpassword" : $("#oldpassword").val(),
				"newpassword" : $("#newpassword").val()
			},function(result) {
				console.log(result);
				if(result == "1"){
					//密码修改成功
					alert("密码更改成功，将自动跳转到首页");
					window.location = "/";
				}
				else if(result =="-1"){
					//原密码输入错误
					$("#false").fadeIn();
					$("#false").html("原密码输入错误");
				}
				else if(result == "-2"){
					

				}
			});
		});

	</script>
</body>
</html>